

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

*{
  box-sizing: border-box;
}
body{
  background-color: #d0adec;
  background-image: linear-gradient(315deg, #b186ff 0%, #e2a7e4 100%);
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
.quiz-container{
  background-color: rgb(187, 220, 250);
  border-radius: 10px;
  box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.1);
  width: 550px;
  overflow: hidden;
}
.quiz-header{
  padding: 4rem;
}
h2{
  padding: 1rem;
  text-align: center;
  margin: 0;
}

ul{
  list-style-type: none;
  padding: 0;
}
ul li{
  font-size: 1.2rem;
  margin: 1rem 0;
}
ul li label{
  cursor: pointer;
}
button{
  background-color: #9e57fc;
  color: rgb(0, 0, 0);
  border: none;
  display: block;
  width: 100%;
  cursor: pointer;
  font-size: 1.1rem;
  font-family: inherit;
  padding: 1.3rem;
}
button:hover{
  background-color: #8e04c4;
}
button:focus{
  outline: none;
  background-color: #d89cd8;
}



#intro {text-align: center; color:rgb(185, 208, 250);}
#greetingInput {text-align: top; color:darksalmon;}
#quiz {text-align: center; color:rgb(218, 158, 253);}
body {background-color: mistyrose;}
